In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('gb.csv')

In [22]:
data.iloc[1:-1].std()

mean_delay        0.026334
count         39905.733780
dtype: float64

In [13]:
def make_time_features(data, timestamps=[24, 12, 6, 5, 4, 3, 2, 1], target='mean_delay'):
    targets = []
    features = []
    for i in range(data.shape[0]):
        
        temp_arr = []
        for s in timestamps:
            temp = data.shift(s)[target].loc[i]
            temp_arr.append(temp)
            
        targets.append(data[target].loc[i])
        features.append(temp_arr)
    
    res_df = pd.DataFrame(features)
    res_df['target_{}'.format(target)] = targets
    
    rename_dict = {}
    for i in range(len(timestamps)):
        rename_dict[i] = 'lag_{}_hours'.format(timestamps[i])
    res_df = res_df.rename(columns=rename_dict)
    
    return res_df

In [17]:
d = make_time_features(data, target='count')

In [18]:
d

,lag_24_hours,lag_12_hours,lag_6_hours,lag_5_hours,lag_4_hours,lag_3_hours,lag_2_hours,lag_1_hours,target_count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215437
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215437.0,214455
2,NaN,NaN,NaN,NaN,NaN,NaN,215437.0,214455.0,233508
3,NaN,NaN,NaN,NaN,NaN,215437.0,214455.0,233508.0,160895
4,NaN,NaN,NaN,NaN,215437.0,214455.0,233508.0,160895.0,214689
5,NaN,NaN,NaN,215437.0,214455.0,233508.0,160895.0,214689.0,159229
6,NaN,NaN,215437.0,214455.0,233508.0,160895.0,214689.0,159229.0,273332
7,NaN,NaN,214455.0,233508.0,160895.0,214689.0,159229.0,273332.0,222348
8,NaN,NaN,233508.0,160895.0,214689.0,159229.0,273332.0,222348.0,280779
9,NaN,NaN,160895.0,214689.0,159229.0,273332.0,222348.0,280779.0,225161
10,NaN,NaN,214689.0,159229.0,273332.0,222348.0,280779.0,225161.0,307626
11,NaN,NaN,159229.0,273332.0,222348.0,280779.0,225161.0,307626.0,268894
12,NaN,215437.0,273332.0,222348.0,280779.0,225161.0,307626.0,268894.0,311949
13,NaN,214455.0,222348.0,280779.0,225161.0,307626.0,268894.0,311949.0,249986
14,NaN,233508.0,280779.0,225161.0,307626.0,268894.0,311949.0,249986.0,301846
15,NaN,160895.0,225161.0,307626.0,268894.0,311949.0,249986.0,301846.0,253778
16,NaN,214689.0,307626.0,268894.0,311949.0,249986.0,301846.0,253778.0,293688
17,NaN,159229.0,268894.0,311949.0,249986.0,301846.0,253778.0,293688.0,238082
18,NaN,273332.0,311949.0,249986.0,301846.0,253778.0,293688.0,238082.0,273545
19,NaN,222348.0,249986.0,301846.0,253778.0,293688.0,238082.0,273545.0,242505
20,NaN,280779.0,301846.0,253778.0,293688.0,238082.0,273545.0,242505.0,263268
21,NaN,225161.0,253778.0,293688.0,238082.0,273545.0,242505.0,263268.0,254029
22,NaN,307626.0,293688.0,238082.0,273545.0,242505.0,263268.0,254029.0,240110
23,NaN,268894.0,238082.0,273545.0,242505.0,263268.0,254029.0,240110.0,255936
24,215437.0,311949.0,273545.0,242505.0,263268.0,254029.0,240110.0,255936.0,45197