In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('gb.csv')

In [4]:
data.iloc[1:-1].std()

mean_delay        0.026334
count         39905.733780
dtype: float64

In [7]:
data

             hour  mean_delay   count
0   2020.04.30 00    0.338620  215437
1   2020.04.30 01    0.241578  214455
2   2020.04.30 02    0.243426  233508
3   2020.04.30 03    0.237617  160895
4   2020.04.30 04    0.243973  214689
5   2020.04.30 05    0.231458  159229
6   2020.04.30 06    0.234219  273332
7   2020.04.30 07    0.215542  222348
8   2020.04.30 08    0.227765  280779
9   2020.04.30 09    0.232021  225161
10  2020.04.30 10    0.255794  307626
11  2020.04.30 11    0.226304  268894
12  2020.04.30 12    0.209752  311949
13  2020.04.30 13    0.212564  249986
14  2020.04.30 14    0.214415  301846
15  2020.04.30 15    0.208142  253778
16  2020.04.30 16    0.221147  293688
17  2020.04.30 17    0.220138  238082
18  2020.04.30 18    0.226596  273545
19  2020.04.30 19    0.234180  242505
20  2020.04.30 20    0.256188  263268
21  2020.04.30 21    0.294574  254029
22  2020.04.30 22    0.271680  240110
23  2020.04.30 23    0.313607  255936
24  2020.05.01 00    0.327827   45197

In [16]:
def make_time_features(data, timestamps=[24, 12, 6, 5, 4, 3, 2, 1], target='mean_delay'):
    targets = []
    features = []
    for i in range(data.shape[0]):
        temp_arr = []
        for s in timestamps:
            temp = data.shift(s)[target].loc[i]
            temp_arr.append(temp)
            
        targets.append(data[target].loc[i])
        features.append(temp_arr)
    
    res_df = pd.DataFrame(features)
    res_df['target_{}'.format(target)] = targets
    
    rename_dict = {}
    for i in range(len(timestamps)):
        rename_dict[i] = 'lag_{}_hours'.format(timestamps[i])
    res_df = res_df.rename(columns=rename_dict)
    
    return res_df

In [10]:
import numpy as np

In [52]:
def make_mean_features(data, timestamps=[24, 12, 6, 5, 4, 3, 2], target='mean_delay'):
    target_column = data['target_{}'.format(target)]
    features = []
    for timestamp in timestamps:
        column = [np.nan] * (timestamp-1)
        for i in range(timestamp, len(data)):
            data_slice = target_column[i-timestamp:i]
            column.append(np.mean(data_slice))
        features.append(column)
        
    res_df = pd.DataFrame(np.array(features).T, columns=['mean_{}_hours'.format(timestamps[j])
                          for j in range(len(timestamps))])
    res_df['target_{}'.format(target)] = target_column
    return res_df

In [40]:
d = make_time_features(data, target='mean_delay')

In [53]:
f = make_mean_features(d, target='mean_delay')

In [54]:
f

,mean_24_hours,mean_12_hours,mean_6_hours,mean_5_hours,mean_4_hours,mean_3_hours,mean_2_hours,target_mean_delay
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.338620
1,NaN,NaN,NaN,NaN,NaN,NaN,0.290099,0.241578
2,NaN,NaN,NaN,NaN,NaN,0.274541,0.242502,0.243426
3,NaN,NaN,NaN,NaN,0.265310,0.240874,0.240522,0.237617
4,NaN,NaN,NaN,0.261043,0.241648,0.241672,0.240795,0.243973
5,NaN,NaN,0.256112,0.239610,0.239118,0.237683,0.237715,0.231458
6,NaN,NaN,0.238712,0.238138,0.236817,0.236550,0.232838,0.234219
7,NaN,NaN,0.234372,0.232562,0.231298,0.227073,0.224880,0.215542
8,NaN,NaN,0.231762,0.230591,0.227246,0.225842,0.221654,0.227765
9,NaN,NaN,0.230830,0.228201,0.227387,0.225109,0.229893,0.232021
10,NaN,NaN,0.232800,0.233068,0.232780,0.238527,0.243907,0.255794
11,NaN,0.244026,0.231941,0.231485,0.235471,0.238040,0.241049,0.226304
12,NaN,0.233287,0.227863,0.230327,0.230968,0.230617,0.218028,0.209752
13,NaN,0.230870,0.227367,0.227287,0.226103,0.216207,0.211158,0.212564
14,NaN,0.228452,0.225142,0.223766,0.215759,0.212244,0.213489,0.214415
15,NaN,0.225996,0.221162,0.214235,0.211218,0.211707,0.211278,0.208142
16,NaN,0.224094,0.215387,0.213204,0.214067,0.214568,0.214645,0.221147
17,NaN,0.223150,0.214360,0.215281,0.215960,0.216476,0.220643,0.220138
18,NaN,0.222515,0.217167,0.218087,0.219006,0.222627,0.223367,0.226596
19,NaN,0.224068,0.220770,0.222040,0.225515,0.226971,0.230388,0.234180
20,NaN,0.226437,0.227732,0.231650,0.234275,0.238988,0.245184,0.256188
21,NaN,0.231649,0.242137,0.246335,0.252884,0.261647,0.275381,0.294574
22,NaN,0.232973,0.250559,0.256644,0.264156,0.274148,0.283127,0.271680
23,0.242137,0.240249,0.266138,0.274046,0.284012,0.293287,0.292644,0.313607

In [ ]:
from 

class TargetForecasting(object, estimator='cat'):
    def __init__(self):
        if estimator == 'cat':
            cat =

In [18]:
d

,lag_24_hours,lag_12_hours,lag_6_hours,lag_5_hours,lag_4_hours,lag_3_hours,lag_2_hours,lag_1_hours,target_count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215437
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215437.0,214455
2,NaN,NaN,NaN,NaN,NaN,NaN,215437.0,214455.0,233508
3,NaN,NaN,NaN,NaN,NaN,215437.0,214455.0,233508.0,160895
4,NaN,NaN,NaN,NaN,215437.0,214455.0,233508.0,160895.0,214689
5,NaN,NaN,NaN,215437.0,214455.0,233508.0,160895.0,214689.0,159229
6,NaN,NaN,215437.0,214455.0,233508.0,160895.0,214689.0,159229.0,273332
7,NaN,NaN,214455.0,233508.0,160895.0,214689.0,159229.0,273332.0,222348
8,NaN,NaN,233508.0,160895.0,214689.0,159229.0,273332.0,222348.0,280779
9,NaN,NaN,160895.0,214689.0,159229.0,273332.0,222348.0,280779.0,225161
10,NaN,NaN,214689.0,159229.0,273332.0,222348.0,280779.0,225161.0,307626
11,NaN,NaN,159229.0,273332.0,222348.0,280779.0,225161.0,307626.0,268894
12,NaN,215437.0,273332.0,222348.0,280779.0,225161.0,307626.0,268894.0,311949
13,NaN,214455.0,222348.0,280779.0,225161.0,307626.0,268894.0,311949.0,249986
14,NaN,233508.0,280779.0,225161.0,307626.0,268894.0,311949.0,249986.0,301846
15,NaN,160895.0,225161.0,307626.0,268894.0,311949.0,249986.0,301846.0,253778
16,NaN,214689.0,307626.0,268894.0,311949.0,249986.0,301846.0,253778.0,293688
17,NaN,159229.0,268894.0,311949.0,249986.0,301846.0,253778.0,293688.0,238082
18,NaN,273332.0,311949.0,249986.0,301846.0,253778.0,293688.0,238082.0,273545
19,NaN,222348.0,249986.0,301846.0,253778.0,293688.0,238082.0,273545.0,242505
20,NaN,280779.0,301846.0,253778.0,293688.0,238082.0,273545.0,242505.0,263268
21,NaN,225161.0,253778.0,293688.0,238082.0,273545.0,242505.0,263268.0,254029
22,NaN,307626.0,293688.0,238082.0,273545.0,242505.0,263268.0,254029.0,240110
23,NaN,268894.0,238082.0,273545.0,242505.0,263268.0,254029.0,240110.0,255936
24,215437.0,311949.0,273545.0,242505.0,263268.0,254029.0,240110.0,255936.0,45197